%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{cloudi, ".*",
   {git, "https://github.com/CloudI/CloudI.git",
    {branch, "develop"}}, [raw]}]}.
{lib_dirs,
 ["deps/cloudi/install_local/lib/cloudi/lib"]}.
{sub_dirs,
 ["apps/hello_world3"]}.
