{sys, [
 {lib_dirs, []},
 {erts, [{mod_cond, derived}, {app_file, strip}]},
 {app_file, strip},
 {rel, "hello_world1", "1",
  [
   kernel,
   stdlib
  ]},
 {boot_rel, "hello_world1"},
 {profile, embedded},
 {incl_cond, derived},
 {mod_cond, derived},
 {excl_archive_filters, [".*"]},
 {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                     "^erts.*/(doc|info|include|lib|man|src)"]},
 {app, hipe, [{incl_cond, exclude}]},
 {app, hello_world1, [{mod_cond, app},
                     {incl_cond, include},
                     {lib_dir, "."}]}
]}.

{target_dir, "release"}.

{overlay, [
]}.
