{sys, [
 {lib_dirs, []},
 {erts, [{mod_cond, derived}, {app_file, strip}]},
 {app_file, strip},
 {rel, "Elixir.HelloWorld1", "1",
  [
   kernel,
   stdlib,
   % elixir required dependencies
   crypto,
   compiler,
   syntax_tools
  ]},
 {boot_rel, "Elixir.HelloWorld1"},
 {profile, embedded},
 {incl_cond, derived},
 {mod_cond, derived},
 {excl_archive_filters, [".*"]},
 {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                     "^erts.*/(doc|info|include|lib|man|src)"]},
 {app, hipe, [{incl_cond, exclude}]},
 {app, elixir, [{mod_cond, app},
                {incl_cond, include},
                {lib_dir, "/usr/local/lib/elixir/lib/elixir/"}]},
 {app, 'Elixir.HelloWorld1', [{mod_cond, app},
                              {incl_cond, include},
                              {lib_dir, "_build/dev/lib/Elixir.HelloWorld1/"}]}
]}.

{target_dir, "release"}.

{overlay, [
]}.
