{sys,
 [
  {lib_dirs,
   [
    "/usr/local/lib/cloudi-1.5.1/lib"
    ]},
  {rel, "Elixir.HelloWorld1", "1",
   [
    'Elixir.HelloWorld1'
    ]},
  {boot_rel, "Elixir.HelloWorld1"},
  {app, cloudi_service_api_requests, [{incl_cond, include}]},
  {app, cloudi_service_http_cowboy, [{incl_cond, include}]},
  {app, 'Elixir.HelloWorld1',
   [{incl_cond, include}, {mod_cond, all}, {app_file, keep},
    {lib_dir, "_build/dev/lib/Elixir.HelloWorld1/"}]},
  % Elixir dependencies
  {app, elixir,
   [{incl_cond, derived}, {mod_cond, all}, {app_file, keep},
    {lib_dir, "/usr/local/lib/elixir/lib/elixir/"}]},
  % typical defaults
  {profile, embedded},
  {incl_cond, derived},
  {mod_cond, all},
  {app_file, keep},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)",
                      "^erts.*/(doc|info|include|lib|man|src)"]},

  % keep beam files exposed for module loading of internal services
  {excl_archive_filters, [".*"]},

  % Erlang dependencies
  {erts,
   [{incl_cond, derived}, {mod_cond, all}, {app_file, keep}]},
  {app, hipe,
   [{incl_cond, exclude}]},
  % sometimes services need the debug_info within OTP applications
  {debug_info, keep}
  ]}.

{target_dir, "release"}.

{overlay, []}.
