language: erlang
otp_release:
  - R16B
python:
  - "2.7"
rvm:
  - 1.9.3
before_install:
  - sudo apt-get update
# travis takes care of: make autoconf automake libtool g++ git
  - sudo apt-get install default-jdk libboost-thread-dev libboost-dev libgmp3-dev uuid-dev
  - rm rebar.config
before_script:
  - mkdir build
  - cd build
  - ../src/autogen.sh
  - ../src/configure --with-zeromq --with-cxx-backtrace --prefix=`pwd`/../install_local
script: ../src/make_dev test install
after_script:
  - make distclean
branches:
  only:
    - master
    - develop
notifications:
  irc: "chat.freenode.net#cloudi"
