language: erlang
otp_release:
  - R16B
python:
  - "2.7"
rvm:
  - 1.9.3
before_install:
  - sudo apt-get update
  - sudo apt-get install g++ default-jdk libboost-thread-dev libboost-dev libgmp3-dev uuid-dev make autoconf automake libtool git
  - rm rebar.config
before_script:
  - mkdir build
  - cd build
  - ../src/autogen.sh
  - ../src/configure --with-zeromq --prefix=`pwd`/../install_local
script: ../src/make_dev install
after_script:
  - make clean
  - make clean-configure
branches:
  only:
    - master
    - develop
