{sys,
 [
  {lib_dirs,
   [
    "/usr/local/lib/cloudi-1.2.4/lib"
   ]},
  {erts, [{mod_cond, all}, {app_file, keep}]},
  {app_file, keep},
  {rel, "cloudi_hello_world2", "1",
   [
    hello_world2
   ]},
  {rel, "start_clean", "",
   [
    kernel,
    stdlib
   ]},
  {boot_rel, "cloudi_hello_world2"},
  {profile, embedded},
  {incl_cond, derived},
  {mod_cond, all},
  {excl_archive_filters, [".*"]},
  {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                      "^erts.*/(doc|info|include|lib|man|src)"]},
  {app, hipe, [{incl_cond, exclude}]},
  {app, hello_world2,
   [{mod_cond, app}, {incl_cond, include}, {lib_dir, "."}]}
]}.

{target_dir, "release"}.

{overlay, [
  {mkdir, "bin"},
  {mkdir, "etc/cloudi"},
  {mkdir, "logs"},
  {copy, "./cloudi_hello_world2", "bin/cloudi_hello_world2"},
  {copy, "./erl", "{{erts_vsn}}/bin/erl"},
  {copy, "./nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "./app.config", "etc/cloudi/app.config"},
  {copy, "./vm.args", "etc/cloudi/vm.args"},
  {copy, "./cloudi.conf", "etc/cloudi/cloudi.conf"}
]}.
