[{kernel, [
    %{inet_dist_listen_min,9100},
    %{inet_dist_listen_max,9200},
    %{inet_dist_use_interface,"127.0.0.1"},
    {net_ticktime, 60}
]},
 {sasl, [
    {sasl_error_logger, {file, "logs/sasl.log"}},
    {error_logger_mf_dir, "logs"},
    {error_logger_mf_maxbytes, 536870912}, % 512 MB
    {error_logger_mf_maxfiles, 128},
    {utc_log, true}
]}].

