{sys, [
       {lib_dirs, []},
       {rel, "cloudi", "1",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "cloudi"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "rel/cloudi"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "rel/files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "rel/files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "rel/files/cloudi", "bin/cloudi"},
           {copy, "rel/files/app.config", "etc/app.config"},
           {copy, "rel/files/vm.args", "etc/vm.args"}
           ]}.
