{lib_dirs,
 [
  "/usr/local/lib/cloudi-1.3.0/lib"
 ]}.
{release, {cloudi, "1"},
 [hello_world4,
  cloudi_service_api_requests,
  cloudi_service_http_cowboy,
  cloudi_core]}.

{extended_start_script, true}.

{output_dir, "release"}.

{overlay, [
  {copy, "./app.config", "releases/{{rel_vsn}}/sys.config"},
  {copy, "./vm.args", "releases/{{rel_vsn}}/vm.args"},
  {copy, "./cloudi.conf", "releases/{{rel_vsn}}/cloudi.conf"}
]}.

